[submodule "motion_planner/curobo"]
	path = motion_planner/curobo
	url = https://github.com/NVlabs/curobo.git
[submodule "twinmanip_realsense_recorder"]
	path = twinmanip_realsense_recorder
	url = ssh://git@gitlab.hwfan.cn:11452/hwfan/twinmanip_realsense_recorder.git
